body {
    display: flex;
    justify-content: center;
    background-color: #C0C0C0;
    margin: 10px;
}

h1 {
    margin-left: 15px;
}

h2 {

}

.container {
    width: 720px;
    border: 1px solid black;
    height: 100%;
    background-color: #00d0cc5e;
    padding: 0px;
    min-height: 100vh;
}

.route.headings {
    display: grid;
}

.route {
    display: grid;
    grid-template-columns: 2fr 3fr auto auto;
}

.route > * {
    margin: 5px 18px;
}

.route > button {
    margin: 5px 5px;
}

button.warn {
    background-color: #f44336;
    border-color: #f44336;
}

button.save {
    background-color: #00ff21;
    border-color: #00ff21;
}

input.warn {
    border: 1px solid red;
}

input:focus {
    outline: none;
}

button.save:disabled {
    background-color: #ffd800;
    border-color: #ffd800;
}

button.create {
    padding: 5px 10px;
    margin-top: 0px;
    margin-left: 20px;
}